:root {
  --primary-color: #16ABF8;
  --secondary-color: #fff;

  --primary-text-color: #111;
  --secondary-text-color: #fff;
  --tertiary-text-color: #888;
  --quartenary-text-color: #555;
}s

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #F4F4F4  ;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  background-color: #F4F4F4;
}

.inline-input {
  display: inline !important;
  background-color: transparent !important;
  border-width: 0 0 1px 0 !important;
  border-radius: 0 !important;
}

.inline-input:focus {
  box-shadow: 0px 0px transparent !important;
  outline: none !important;
  border-color: transparent !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
